*{
    margin: 0;
    padding: 0;
    z-index: 0;
}
header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: fixed;
}
.logo{
    float: left;
    position: fixed;
    left: 8%;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: "Cabin Sketch";
    color: #fff;
    letter-spacing: 5px;
}
nav{
    float: right;
    position: fixed;
    right: 8%;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: "sans-serif";
    text-transform: lowercase;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
body{
    background-color: dodgerblue;
}
h1{
    text-align: center;
    font-family: sans-serif;
}
.box-container{
    z-index: 12;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.box{
    background-color: rgba(59, 55, 55, 0.158);
    flex: 10px;
    border-radius: 1px;
    position: relative;
}
.images{
    position: relative;
    text-align: center;
    padding-top: 5px;
    overflow: hidden;
}
.image{
    width: 200px;
}
.content{
    position: relative;
    text-align: center;
}
#home{
    text-align: center;
}